<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">List</h3>
        </div>

        <div class="box-body">
            <table class="table table-bordered table-condensed table-hover">
                <thead>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Website</th>
                    <th>Dates</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="event in vm.events">
                        <td>
                            <span uib-tooltip="{{ event.shortDescription }}">
                                {{ event.title }}
                            </span>
                        </td>
                        <td>{{ event.location }}</td>
                        <td>
                            <a ng-href="{{ event.website}}">
                                {{ event.website | limitTo : 50 }}
                            </a>
                        </td>
                        <td>{{ event.dateFrom | date }} - {{ event.dateTo | date }}</td>
                        <td>
                            <a href="" class="btn btn-default btn-flat" ui-sref="event.edit({eventSlug: event.slug})">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href="" class="btn btn-default btn-flat" ng-click="vm.removeEvent(event)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>