<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Edit</h3>
    </div>

    <div class="box-body">
        <div class="form-group map-input">
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location" ng-model="vm.place.name">
            <div id="map"></div>
        </div>
        <formly-form model="vm.place" fields="vm.placeFormFields" options="vm.options" form="vm.placeForm">
            <div class="form-group">
                <div class="dropzone dropzone-custom-preview" dropzone config="vm.dropzoneConfig" id="file-dropzone">
                    <div class="dz-default dz-message">
                        <strong class="text-uppercase">
                            <i class="fa fa-upload"></i> Drop files to attach, or <a href="" class="text-green">browse</a>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" ng-disabled="vm.placeForm.$invalid" ng-click="vm.editPlace(true)">Edit and go to List</button>
                <button type="submit" class="btn btn-success" ng-disabled="vm.placeForm.$invalid" ng-click="vm.editPlace(false)">Edit</button>
            </div>
        </formly-form>
    </div>
</div>