<div class="row">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">List</h2>
        </div>
        <div class="box-body">
            <table class="table table-bordered table-condensed table-hover table">
                <thead>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Website</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="place in vm.places">
                        <td>
                            <span uib-tooltip="{{ place.shortDescription }}">
                                {{ place.name }}
                            </span>
                            [ <a href="" ng-repeat="category in place.categories">
                                <span class="label label-primary">{{ category.name }}</span>
                            </a> ]
                        </td>
                        <td>{{ place.address }}</td>
                        <td>
                            <a ng-href="{{ place.website }}" target="_blank">
                                {{ place.website | limitTo : 50 }}
                            </a>
                        </td>
                        <td>
                            <a href="" class="btn btn-default btn-flat" ng-click="vm.removePlace(place)">
                                <i class="fa fa-trash" aria-hidden="true" ></i>
                            </a>
                            <a href="" class="btn btn-default btn-flat" ui-sref="place.edit({placeSlug: place.slug})">
                                <i class="fa fa-pencil" aria-hidden="true" ></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>