<div class="row">
    <div class="col-md-3" ng-repeat="place in vm.places">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ place.name }}</h3>
                <a href="" class="pull-right">
                    <i class="fa fa-trash" aria-hidden="true" ng-click="vm.removePlace(place)"></i>
                </a>
            </div>

            <div class="box-body" ui-sref="places.edit({slug: place.slug})">
                <img ng-src="{{ place.images[0].uri }}" class="img-thumbnail img-responsive" alt="{{ place.images[0].name }}" ng-if="place.images[0]">
            </div>
        </div>
    </div>
</div>