<div class="row">
    <div class="col-md-3" ng-repeat="category in vm.categories" ui-sref="category.edit({slug: category.slug})">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ category.name }}</h3>
            </div>

            <div class="box-body">
                <img ng-src="{{ category.coverImage.relativePath }}" class="img-thumbnail img-responsive" alt="{{ category.coverImage.name }}" ng-if="category.coverImage">
            </div>
        </div>
    </div>
</div>